table {
	border: ridge 5px;
	width: "35%";
	height: "35%"
}

table td {
	border: inset 1px #777;
	width: "35%";
	height: "35%"
}

table tr#ROW2 {
	background-color: red;
	height: "50%";
	width: "50%"
}

table td#CELL8 {
	background-color: rgb(60, 255, 0);
	text-align: auto;
}

table td#CELL9 {
	background-color: rgb(89, 0, 255);
	text-align: auto;
}